<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NLog" version="4.7.9" targetFramework="net46" />
  <package id="NLog.Config" version="4.7.9" targetFramework="net46" />
  <package id="NLog.Schema" version="4.7.9" targetFramework="net46" />
  <package id="OxyPlot.Core" version="2.1.0-Preview1" targetFramework="net46" />
  <package id="OxyPlot.WindowsForms" version="2.1.0-Preview1" targetFramework="net46" />
</packages>